## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2


## MAC
.DS_Store

## PyCharm
*.idea/*.iml

## auxiliary python files
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## configurations
db.ini
deploy_key_rsa

